.floatright {
           float : right;
           margin : 8px;
           padding : 2px;
           border : 1px solid #000;
           background-color : #fff;
           color : #663366;
}
.floatleft {
           float : left;
           width : 175px;
           margin : 8px;
           padding : 8px;
           padding-bottom : 8px;
           background-color : #fff;
           border-right : 2px solid black;
           color : #663366;
}
.float {
	top: 140;
	left: 350;
	position: absolute;
	display: block;
	width : 60%;
       margin : 30px;
	padding: 10px;
  	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.4);
 	box-shadow: 3px 3px 20px black;


}
form {
    	width: 250px;
   	padding: 20px;
    	border: 2px solid black;
	background: black;
	box-shadow: 3px 3px 20px black;

}

input {
    width: 230px;
    padding: 6px;
    margin-bottom: 10px;
    border-top: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
	border-radius: 15px;

}
input.submit {
    width: 100px;
    text-transform: uppercase;
    border-top: 1px solid black;
    margin-top: 10px;
}

article {
		  display: block;
		  width: 99%;
		  padding: 10px;
		  /*margin-bottom: 30px;*/
		  /*border-radius: 30px;*/
		  box-shadow: 3px 3px 20px black;
}
#grad1 {
	background-image: -moz-linear-gradient(rgb(255,155,0),rgb(50,0,0));
	background-image: -o-linear-gradient(rgb(255,155,0),rgb(50,0,0));
	background-image: -webkit-linear-gradient(rgb(255,155,0),rgb(50,0,0));
       background-image: linear-gradient(rgb(255,155,0),rgb(50,0,0));

}
     body {
           margin : 8px auto;
           padding : 15px;
           font-family : "Helvetica", arial, sans-serif;
           font-size : 12px;
           color : white;
		   /*background-color : black;*/
	    background: url('http://www.oregonstate.edu/~chambech/cs440/mediaDB/stripes.png');
		

      }
     h1 {
           font-size : 36px;
           color : #FFF;
           margin : 5px;
		   font-weight:700;
		   font-family :"Arial Black";
		
		   
      }
     h2 {
           font-size : 24px;
           color : white;
		   font-family : "Penumbra Serif Bold","Arial Black",Arial;
           margin : 5px 0;
           padding : 0;
      }
     h3 {
           font-size : 16px;
           color : #507ea1;
           margin : 5px 0;
           padding : 0;
      }
   
     p {
           font-size : 12px;
           padding-left : 20px;
           color : black;
      }
     b {
          font-size : 14px;
      }
     strong {
           font-size : 12px;
      }
     em {
           font-size : 12px;
      }
     i {
           font-size : 12px;
      }
     pre {
          o font-size : 12px;
          o padding-left : 40px;
      }
     address {
          o font-size : 12px;
          o padding : 40px;
      }
     blockquote {
           border-left : 1px dashed #fff;
           font-size : 13px;
           padding-left : 20px;
           font-style : italic;
      }
     code {
          font-family : "Courier New", Courier, mono;
           border : 1px dashed #ccc;
           background-color : #fff;
           padding : 2px;
           font-size : 11px;
      }
     dl {
           padding-left : 20px;
      }
     dt {
           font-weight : bold;
           font-style : italic;
           padding-bottom : 2px;
      }
     dd {
          font-size : 10px;
          font-family : Arial, Helvetica, sans-serif;
      }
     cite {
           text-align : right;
           font-family : Helvetica, Arial, sans-serif;
           font-size : 10px;
      }
     dfn {
           border-bottom : 1px solid #000;
           background-color : #fff;
      }
     table {
           font-size : 12px;
           margin : auto;
          border-right : 1px solid #999;
          border-bottom : 1px solid #999;
      }
     caption {
           border-bottom : 1px solid #000;
           font-size : 12px;
           font-weight : bold;
           font-style : italic;
           font-family : Helvetica, Trebuchet, sans-serif;
           margin : auto;
           text-align : center;
           background-color : #ffd9bf;
           color : black;
           padding : 8px;
      }
     th {
           font-size : 12px;
           border-bottom : 1px solid #000;
           border-left : 1px solid #000;
           color : #000;
           background-color : #fff;
      }
    tr {
           border-bottom : 1px solid #000;
           border-left : 1px solid #000;
           color : #000;
      }
     td {
           border-bottom : 1px solid #000;
           border-left : 1px solid #000;
           color : #000;
           text-align : center;
		   padding-bottom: 1em;
		   padding-top: 1em;
      }
     .skiplink {
           font-size : 1px;
           line-height : 1px;
           color : #fff;
      }
	
	a:link {color: white; text-decoration:none;}      						
	a:visited {color:white;}  /* visited link */
	a:hover {color:#FF00FF; font-weight:bold;}  /* mouse over link */
	a:active {color:#0000FF;}  /* selected link */


Valid CSS!
www-validator-css
Last Updated 